html { 
    height:100%;
}
body { 
    min-height:100%;
}

body {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

video {
    object-fit: fill;
}

audio {
    position: absolute;
    left: 50%;
    top: 93%;
}

#video-credits-container {
    font-size: xx-small;
    color: #ffffff;
    position: absolute;
    left: 1%;
    bottom: 1%;
    display: none;
}

#video-credits {
    position: relative;
    left: 0%;
    top: -100%;
}

#audio-credits-container {
    font-size: xx-small;
    color: #ffffff;
    position: absolute;
    right: 1%;
    bottom: 1%;
    display: none;
}

#audio-credits {
    position: relative;
    left: 0%;
    top: -100%;
    text-align: right;
}

#remaining-progressbar {
    position: absolute;
    left: 50%;
    top: 85%;
    display: none;
    width: 75%;
}

#bar {
    background-color: #d3d3d3;
    border-radius: 1em;
    position: absolute;
    width: 100%;
}

#progress {
    background-color: #ff9800;
    border-radius: 1em;
    height: 30px;
    width: 0%;
}

#progress-text-container {
    position: absolute;
    left: 50%;
    line-height: 30px;
    text-align: center;
}

#progress-text {
    color: #000000;
    position: relative;
    left: -50%;
}

.center-item {
    position: relative;
    left: -50%;
    top: -50%;
}