/* general */

body {
    margin: 0;
    padding: 0;
}

video {
    object-fit: fill;
}

/* theme */

textarea, input[type="checkbox"] {
    background-color: #fbfbfb;
}

.jumbotron {
    border-radius: 0.5rem;
}

.jmt-background-color {
	background-color: #e0e0e0;
}

.jmt-important {
    color: #f18613;
}

.popover-header {
    padding: 0.2em 0.4em;
}

.popover-body {
    padding: 0.4em 0.4em;
}

.center-item {
    position: relative;
    left: -50%;
    top: -50%;
}

.pointer {
    cursor: pointer;
}

/* autoplay */

#autoplay {
    display: none;
}

#autoplay-container {
    position: absolute;
    left: 50%;
    top: 50%;
}

/* player */

#player {
    display: none;
}

/* share */

#share-container {
    background-color: #d3d3d3;
    border-radius: 5px;
    line-height: 0;
    padding: 5px;
    position: absolute;
    top: 1%;
    left: 1%;
}

/* text */

#text-container {
    display: none;
    position: absolute;
    left: 50%;
    top: 3%;
}

#text {
    background-color: #d3d3d3;
    border-radius: 5px;
    /* font-size: x-large; */
    padding: 3px 6px;
    position: relative;
    left: -50%;
}

/* logo */

#logo-container {
    position: absolute;
    top: 1%;
    right: 1%;
}

/* credits */

#credits-container {
    color: #ffffff;
    font-size: xx-small;
    position: absolute;
    bottom: 1%;
    width: 100%;
}

/* progress bar */

#progressbar-container {
    position: absolute;
    left: 50%;
    top: 80%;
    width: 75%;
}

#progressbar-bar {
    background-color: #d3d3d3;
    border-radius: 1em;
    position: absolute;
    width: 100%;
}

#progressbar-progress {
    background-color: #ff9800;
    border-radius: 1em;
    height: 30px;
    width: 0%;
}
#progressbar-progress.finished {
    background-color: #3b9e3b;
}

#progressbar-text-container {
    position: absolute;
    left: 50%;
    line-height: 30px;
    text-align: center;
}

#progressbar-text {
    color: #000000;
    position: relative;
    left: -50%;
}